@using TabPanel_Display_long_titles.Models

@foreach (var tabPanel in TabPanels.TabPanelsArray)
{
    <p><b>@tabPanel.header</b></p>

    @(Html.DevExtreme().TabPanel()
        .ID(tabPanel.id)
        .ElementAttr(new { @class = tabPanel.className })
        .Width(400)
        .FocusStateEnabled(false)
        .ScrollByContent(true)
        .ScrollingEnabled(true)
        .ShowNavButtons(true)
        .DeferRendering(true)
        .DataSource(d => d.Mvc().LoadAction("GetTabPanelItems"))
        .ItemTitleTemplate(@<text>
            @if(tabPanel.itemTitleTemplate == "titleEllipses") {
                <div class="show-ellipsis">
                    <span><%- title %></span>
                </div>
            }
            else {
                <div>
                    <span><%- title %></span>
                </div>
            }
        </text>)
        .ItemTemplate(@<text>
            <span><%- title %></span>
        </text>)
    )
}